<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="jdbcUrl">
			<value>jdbc:mysql://10.125.103.139:3306/whiteblog</value>
		</property>
		<property name="user">
			<value>qwe</value>
		</property>
		<property name="password">
			<value>123</value>
		</property>
		<property name="maxPoolSize">
			<value>80</value>
		</property>
		<property name="minPoolSize">
			<value>1</value>
		</property>
		<property name="initialPoolSize">
			<value>1</value>
		</property>
		<property name="maxIdleTime">
			<value>20</value>
		</property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.configurationResourceName">ehcache.xml</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.whiteblog.entity.Admin</value>
				<value>com.whiteblog.entity.Blog</value>
				<value>com.whiteblog.entity.Comment</value>
				<value>com.whiteblog.entity.Mail</value>
				<value>com.whiteblog.entity.Notice</value>
				<value>com.whiteblog.entity.User</value>
				<value>com.whiteblog.entity.Inform</value>
				<value>com.whiteblog.entity.Likeit</value>
				<value>com.whiteblog.entity.Supertype</value>
				<value>com.whiteblog.entity.Blogtype</value>
				<value>com.whiteblog.entity.City</value>
				<value>com.whiteblog.entity.Job</value>
				<value>com.whiteblog.entity.Hobby</value>
				<value>com.whiteblog.entity.Country</value>
				<value>com.whiteblog.entity.Collection</value>
				<value>com.whiteblog.entity.Province</value>
				<value>com.whiteblog.entity.Attention</value>
			</list>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<tx:advice id="transactionAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" propagation="REQUIRED" />
			<tx:method name="find*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="post*" propagation="REQUIRED" />
			<tx:method name="sendMessage" propagation="REQUIRED" />
			<tx:method name="check*" propagation="REQUIRED" />
			<tx:method name="regist*" propagation="REQUIRED" />
			<tx:method name="match*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:advisor advice-ref="transactionAdvice"
			pointcut="execution(* com.whiteblog.service..*(..))" />
	</aop:config>

	<!-- 自定义Advice -->
	<bean id="myAspect" class="com.whiteblog.aspectJ.MyAspect" />
	<!-- 对目标进行AOP代理 -->
	<aop:config proxy-target-class="true">
		<aop:aspect ref="myAspect">
			<!-- 定义了一个单独切点 -->
			<aop:pointcut expression="execution(* com.whiteblog..*(..))"
				id="mypointcut" />
			<!-- 前置通知 -->
			<aop:before method="before" pointcut-ref="mypointcut" />
			<!-- 后置通知 -->
			<!--<aop:after-returning method="after1" pointcut-ref="mypointcut"/> -->
			<aop:after-returning method="after" pointcut-ref="mypointcut"
				returning="returnVal" />
			<!-- 环绕通知 -->
			<aop:around method="around" pointcut-ref="mypointcut" />
			<!-- 异常通知 -->
			<aop:after-throwing method="afterThrowing"
				pointcut-ref="mypointcut" throwing="ex" />
			<!-- 最终通知 -->
			<aop:after method="finalMethod" pointcut-ref="mypointcut" />
		</aop:aspect>
	</aop:config>

	<bean id="AdminDAO" class="com.whiteblog.dao.AdminDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="BlogDAO" class="com.whiteblog.dao.BlogDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="BlogtypeDAO" class="com.whiteblog.dao.BlogtypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CommentDAO" class="com.whiteblog.dao.CommentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="MailDAO" class="com.whiteblog.dao.MailDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="NoticeDAO" class="com.whiteblog.dao.NoticeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserDAO" class="com.whiteblog.dao.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="UserManager" class="com.whiteblog.service.UserManagerImpl">
		<property name="userdao">
			<ref bean="UserDAO" />
		</property>
	</bean>

	<bean id="MailManager" class="com.whiteblog.service.MailManagerImpl">
		<property name="maildao">
			<ref bean="MailDAO" />
		</property>
		<property name="userdao">
			<ref bean="UserDAO" />
		</property>
	</bean>

	<bean id="NoticeManager" class="com.whiteblog.service.NoticeManagerImpl">
		<property name="noticedao">
			<ref bean="NoticeDAO" />
		</property>
	</bean>

	<bean id="ShowBlogListService" class="com.whiteblog.service.ShowBlogListService">
		<property name="blogDAO">
			<ref bean="BlogDAO" />
		</property>
	</bean>

	<bean id="ShowCommentListService" class="com.whiteblog.service.ShowCommentListService">
		<property name="commentDAO">
			<ref bean="CommentDAO" />
		</property>
	</bean>

	<bean id="PostCommentService" class="com.whiteblog.service.PostCommentService">
		<property name="commentDAO">
			<ref bean="CommentDAO" />
		</property>
	</bean>

	<bean id="LoginAction" class="com.whiteblog.action.loginAction">
		<property name="usermanager">
			<ref bean="UserManager" />
		</property>
		<property name="blogtypeService">
			<ref bean="BlogtypeService" />
		</property>
	</bean>

	<bean id="registerAction" class="com.whiteblog.action.registerAction">
		<property name="usermanager">
			<ref bean="UserManager" />
		</property>
	</bean>


	<bean id="ShowBlogListAction" class="com.whiteblog.action.ShowBlogList">
		<property name="showBlogListService">
			<ref bean="ShowBlogListService" />
		</property>
		<property name="likeService">
			<ref bean="LikeService" />
		</property>
		<property name="userManager">
			<ref bean="UserManager" />
		</property>
	</bean>

	<bean id="BlogManager" class="com.whiteblog.service.BlogManagerImpl">
		<property name="blogDao">
			<ref bean="BlogDAO" />
		</property>
	</bean>

	<bean id="SearchArticleAction" class="com.whiteblog.action.searchArticleAction">
		<property name="blogManager">
			<ref bean="BlogManager" />
		</property>
	</bean>

	<bean id="blogContentManage" class="com.whiteblog.service.BlogContentManageImpl">
		<property name="blogDAO">
			<ref bean="BlogDAO" />
		</property>
				<property name="collectionDAO">
			<ref bean="CollectionDAO" />
		</property>
	</bean>

	<bean id="BlogContent" class="com.whiteblog.action.blogContentAction">
		<property name="blogContentManage">
			<ref bean="blogContentManage" />
		</property>
		<property name="userManager">
			<ref bean="UserManager" />
		</property>
		<property name="blogtypeService">
			<ref bean="BlogtypeService" />
		</property>
		<property name="superTypeService">
			<ref bean="SuperTypeService" />
		</property>
		<property name="userDAO">
			<ref bean="UserDAO" />
		</property>
	</bean>


	<bean id="ShowInformedBlogListService" class="com.whiteblog.service.ShowInformedBlogListService">
		<property name="informDAO">
			<ref bean="InformDAO" />
		</property>
	</bean>

	<bean id="BlogService" class="com.whiteblog.service.BlogServiceImp">
		<property name="blogDAO">
			<ref bean="BlogDAO" />
		</property>
	</bean>

	<bean id="BlogtypeService" class="com.whiteblog.service.BlogTypeServiceImp">
		<property name="blogtypeDAO">
			<ref bean="BlogtypeDAO" />
		</property>
	</bean>

	<bean id="PublishAction" class="com.whiteblog.action.publishAction">
		<property name="blogService">
			<ref bean="BlogService" />
		</property>
		<property name="blogtypeService">
			<ref bean="BlogtypeService" />
		</property>
	</bean>

	<bean id="MailAction" class="com.whiteblog.action.mailAction">
		<property name="mailManager">
			<ref bean="MailManager" />
		</property>
	</bean>

	<bean id="NoticeAction" class="com.whiteblog.action.noticeAction">
		<property name="noticeManager">
			<ref bean="NoticeManager" />
		</property>
	</bean>

	<bean id="UserAction" class="com.whiteblog.action.UserAction">
		<property name="userManager">
			<ref bean="UserManager" />
		</property>
	</bean>

	<bean id="ShowCommentListAction" class="com.whiteblog.action.ShowCommentList">
		<property name="showCommentListService">
			<ref bean="ShowCommentListService" />
		</property>
	</bean>

	<bean id="PostCommentAction" class="com.whiteblog.action.PostComment">
		<property name="postCommentService">
			<ref bean="PostCommentService" />
		</property>
		<property name="noticeManager">
			<ref bean="NoticeManager" />
		</property>
		<property name="blogManager">
			<ref bean="BlogManager" />
		</property>
	</bean>
	<bean id="InformDAO" class="com.whiteblog.dao.InformDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="ShowInformedBlogListAction" class="com.whiteblog.action.ShowInformedBlogList">
		<property name="showInformedBlogListService">
			<ref bean="ShowInformedBlogListService" />
		</property>
		<property name="blogDAO">
			<ref bean="BlogDAO" />
		</property>
	</bean>

	<bean id="DeleteBlogAction" class="com.whiteblog.action.deleteBlogAction">
		<property name="blogManager">
			<ref bean="BlogManager" />
		</property>
	</bean>

	<bean id="addTagsAction" class="com.whiteblog.action.BlogTypeAction">
		<property name="blogtypeService">
			<ref bean="BlogtypeService" />
		</property>
		<property name="blogManager">
			<ref bean="BlogManager" />
		</property>
		<property name="superTypeService">
			<ref bean="SuperTypeService" />
		</property>
		<property name="cityDAO">
			<ref bean="CityDAO" />
		</property>
		<property name="provinceDAO">
			<ref bean="ProvinceDAO" />
		</property>
		<property name="hobbyDAO">
			<ref bean="HobbyDAO" />
		</property>
	</bean>

	<bean id="SendMessageManage" class="com.whiteblog.service.SendMessageManage">
		<property name="mailDAO">
			<ref bean="MailDAO" />
		</property>
		<property name="userDAO">
			<ref bean="UserDAO" />
		</property>
	</bean>

	<bean id="SendMessageAction" class="com.whiteblog.action.sendMessageAction">
		<property name="sendMessageManage">
			<ref bean="SendMessageManage" />
		</property>
		<property name="noticeManager">
			<ref bean="NoticeManager" />
		</property>
		<property name="blogManager">
			<ref bean="BlogManager" />
		</property>
	</bean>

	<bean id="showMailListAction" class="com.whiteblog.action.mailAction">
		<property name="mailManager">
			<ref bean="MailManager" />
		</property>
	</bean>

	<bean id="modifyAction" class="com.whiteblog.action.modifyAction">
		<property name="blogService">
			<ref bean="BlogService" />
		</property>
		<property name="usermanager">
			<ref bean="UserManager" />
		</property>
		<property name="blogtypeService">
			<ref bean="BlogtypeService" />
		</property>
	</bean>

	<bean id="showBlogToModifyAciton" class="com.whiteblog.action.showBlogToModifyAciton">
		<property name="blogService">
			<ref bean="BlogService" />
		</property>
		<property name="blogtypeService">
			<ref bean="BlogtypeService" />
		</property>
	</bean>

	<bean id="FindBlogByTagAction" class="com.whiteblog.action.FindBlogByTagAction">
		<property name="blogManager">
			<ref bean="BlogManager" />
		</property>
		<property name="blogtypeService">
			<ref bean="BlogtypeService" />
		</property>
		<property name="superTypeService">
			<ref bean="SuperTypeService" />
		</property>
	</bean>


	<bean id="LikeitDAO" class="com.whiteblog.dao.LikeitDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="LikeService" class="com.whiteblog.service.LikeService">
		<property name="likeitDAO">
			<ref bean="LikeitDAO" />
		</property>
		<property name="blogDAO">
			<ref bean="BlogDAO" />
		</property>
	</bean>

	<bean id="LikeAction" class="com.whiteblog.action.LikeAction">
		<property name="likeService">
			<ref bean="LikeService" />
		</property>
	</bean>

	<bean id="SupertypeDAO" class="com.whiteblog.dao.SupertypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="SuperTypeService" class="com.whiteblog.service.SuperTypeService">
		<property name="supertypeDAO">
			<ref bean="SupertypeDAO" />
		</property>
	</bean>

	<bean id="forwardAction" class="com.whiteblog.action.forwardAction">
		<property name="blogService">
			<ref bean="BlogService" />
		</property>
	</bean>
	<bean id="HobbyDAO" class="com.whiteblog.dao.HobbyDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CountryDAO" class="com.whiteblog.dao.CountryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CityDAO" class="com.whiteblog.dao.CityDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="JobDAO" class="com.whiteblog.dao.JobDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ProvinceDAO" class="com.whiteblog.dao.ProvinceDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AttentionDAO" class="com.whiteblog.dao.AttentionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CollectionDAO" class="com.whiteblog.dao.CollectionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UploadFileServlet" class="com.whiteblog.servlet.UploadFileServlet"></bean>
	<!-- 注入ShowUserinfo.service -->
	<bean class="com.whiteblog.service.ShowUserinfo" id="ShowUserinfo">
		<property name="userDAO">
			<ref bean="UserDAO" />
		</property>
		<property name="blogDAO">
			<ref bean="BlogDAO" />
		</property>
		<property name="countryDAO">
			<ref bean="CountryDAO" />
	    </property>


		
		<property name="cityDAO">

			<ref bean="CityDAO" />

		</property>


		
		<property name="jobDAO">

			<ref bean="JobDAO" />

		</property>


		
		<property name="hobbyDAO">

			<ref bean="HobbyDAO" />

		</property>


		<property name="provinceDAO">

			<ref bean="ProvinceDAO" />

		</property>


		<property name="supertypeDAO">

			<ref bean="SupertypeDAO" />

		</property>


		
		<property name="collectionDAO">

			<ref bean="CollectionDAO" />

		</property>


		<property name="attentionDAO">

			<ref bean="AttentionDAO" />

		</property>


		<property name="blogtypeDAO">

			<ref bean="BlogtypeDAO" />

		</property>

	</bean>

	<!-- 注入showUserinfo.action -->



	<bean class="com.whiteblog.action.ShowUserinfoAction" id="ShowUserinfoAction">


		<property name="showUserinfo">

			<ref bean="ShowUserinfo" />

		</property>
		<property name="cityDAO">
			<ref bean="CityDAO" />
		</property>
		<property name="hobbyDAO">
			<ref bean="HobbyDAO"/>
		</property>
		<property name="provinceDAO">
			<ref bean="ProvinceDAO" />
		</property>
		<property name="supertypeDAO">
			<ref bean="SupertypeDAO" />
		</property>
	</bean>

	<!-- 注入DeleteCollectService -->



	<bean class="com.whiteblog.service.DeleteCollectService" id="DeleteCollectService">


		<property name="collectionDAO">

			<ref bean="CollectionDAO" />

		</property>

	</bean>

	<!-- 注入DeleteCollectAction -->



	<bean class="com.whiteblog.action.DeleteCollectAction" id="DeleteCollectAction">


		<property name="deleteCollectService">

			<ref bean="DeleteCollectService" />

		</property>


		<property name="showUserinfo">

			<ref bean="ShowUserinfo" />

		</property>

	</bean>

	<!-- 注入ShowUserdetailService -->



	<bean class="com.whiteblog.service.ShowUserdetailService" id="ShowUserdetailService">


		<property name="userDAO">

			<ref bean="UserDAO" />

		</property>


		<property name="blogDAO">

			<ref bean="BlogDAO" />

		</property>


		<property name="countryDAO">

			<ref bean="CountryDAO" />

		</property>


		<property name="cityDAO">

			<ref bean="CityDAO" />

		</property>


		<property name="jobDAO">

			<ref bean="JobDAO" />

		</property>


		<property name="hobbyDAO">

			<ref bean="HobbyDAO" />

		</property>


		<property name="provinceDAO">

			<ref bean="ProvinceDAO" />

		</property>


		<property name="supertypeDAO">

			<ref bean="SupertypeDAO" />

		</property>


		<property name="collectionDAO">

			<ref bean="CollectionDAO" />

		</property>


		<property name="attentionDAO">

			<ref bean="AttentionDAO" />

		</property>


		<property name="blogtypeDAO">

			<ref bean="BlogtypeDAO" />

		</property>

	</bean>

	<!-- 注入ShowUserdetailAction -->



	<bean class="com.whiteblog.action.ShowUserdetailAction" id="ShowUserdetailAction">


		<property name="showUserdetailService">

			<ref bean="ShowUserdetailService" />

		</property>


		<property name="userDAO">

			<ref bean="UserDAO" />

		</property>

	</bean>

	<!-- 注入DeleteAttentionAction -->



	<bean class="com.whiteblog.action.DeleteAttentionAction" id="DeleteAttentionAction">


		<property name="deleteAttentionService">

			<ref bean="DeleteAttentionService" />

		</property>

	</bean>

	<!-- 注入DeleteAttentionService -->



	<bean class="com.whiteblog.service.DeleteAttentionService" id="DeleteAttentionService">


		<property name="attentionDAO">

			<ref bean="AttentionDAO" />

		</property>

	</bean>

	<!-- 注入CollectAction -->



	<bean class="com.whiteblog.action.CollectAction" id="CollectAction">


		<property name="collectService">

			<ref bean="CollectService" />

		</property>

	</bean>

	<!-- 注入CollectService -->



	<bean class="com.whiteblog.service.CollectService" id="CollectService">


		<property name="collectionDAO">

			<ref bean="CollectionDAO" />

		</property>

	</bean>

	<!-- 注入PayAttentionAction -->



	<bean class="com.whiteblog.action.PayAttentionAction" id="PayAttentionAction">


		<property name="payAttentionService">

			<ref bean="PayAttentionService" />

		</property>


		<property name="userDAO">

			<ref bean="UserDAO" />

		</property>


		<property name="showUserdetailService">

			<ref bean="ShowUserdetailService" />

		</property>

	</bean>

	<!-- 注入PayAttentionService -->



	<bean class="com.whiteblog.service.PayAttentionService" id="PayAttentionService">


		<property name="attentionDAO">

			<ref bean="AttentionDAO" />

		</property>

	</bean>
	
	<bean id="CityAction" class="com.whiteblog.action.CityAction">
		<property name="cityDAO">
			<ref bean="CityDAO" />
		</property>
	</bean>
	
</beans>

	
	
	